SECRET_KEY=<your_secret_key_here>
DB_NAME=<postgres_database_name>
DB_USER=<postgres_database_username>
DB_PASSWORD=<postgres_database_password>
DB_HOST=<postgres_database_host_name>
DB_PORT=<postgres_database_port_number>

EMAIL_HOST_USER=<sendgrid_verified_sender_email>
SENDGRID_API_KEY=<sendgrid_api_key>

SETTING_DEBUG=True #False, in production
SETTING_ALLOWED=* # In production, your deployment domain
CSRF_TRUSTED_ORIGINS=http://0.0.0.0:8000 # In production, your deployment domain with https tag included

#Production only - add these in Railway environment variables, not here
#SECURE_SSL_REDIRECT=True
#SECURE_HSTS_SECONDS=31536000
#SESSION_COOKIE_SECURE=True
#CSRF_COOKIE_SECURE=True
